USE [master]
GO
/****** Object:  Database [DocConnect]    Script Date: 7/10/2026 7:08:31 AM ******/
CREATE DATABASE [DocConnect]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DocConnect', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DocConnect.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DocConnect_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DocConnect_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocConnect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocConnect]
GO
/****** Object:  Table [dbo].[ChuyenKhoa]    Script Date: 7/10/2026 7:08:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenKhoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenChuyenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiDap]    Script Date: 7/10/2026 7:08:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiDap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](250) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[Tuoi] [int] NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DuongDanAnh] [nvarchar](500) NULL,
	[ChuyenKhoaId] [int] NULL,
	[NguoiDungId] [nvarchar](450) NULL,
	[NgayTao] [datetime] NOT NULL,
	[DaDuyet] [bit] NOT NULL,
	[AnDanh] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoBacSi]    Script Date: 7/10/2026 7:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoBacSi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [nvarchar](450) NULL,
	[ChuyenKhoaId] [int] NULL,
	[KinhNghiem] [nvarchar](max) NULL,
	[GioiThieu] [nvarchar](max) NULL,
	[DuongDanChungChi] [nvarchar](255) NOT NULL,
	[TrangThaiXacThuc] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoSucKhoe]    Script Date: 7/10/2026 7:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoSucKhoe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [nvarchar](450) NULL,
	[PhienTuVanId] [int] NULL,
	[TrieuChung] [nvarchar](max) NULL,
	[KetLuan] [nvarchar](max) NULL,
	[TenBacSi] [nvarchar](100) NULL,
	[ThoiGian] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHen]    Script Date: 7/10/2026 7:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [nvarchar](450) NULL,
	[BacSiId] [int] NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 7/10/2026 7:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [nvarchar](450) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[MatKhauHash] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NOT NULL,
	[AnhDaiDien] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienTuVan]    Script Date: 7/10/2026 7:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienTuVan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LichHenId] [int] NULL,
	[ThoiGianBatDauThucTe] [datetime] NULL,
	[ThoiGianKetThucThucTe] [datetime] NULL,
	[KetLuan] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhan]    Script Date: 7/10/2026 7:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhienTuVanId] [int] NULL,
	[NguoiGuiId] [nvarchar](450) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[LoaiTinNhan] [nvarchar](10) NOT NULL,
	[ThoiGianGui] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChuyenKhoa] ON 

INSERT [dbo].[ChuyenKhoa] ([Id], [TenChuyenKhoa]) VALUES (1, N'Nội tổng hợp')
INSERT [dbo].[ChuyenKhoa] ([Id], [TenChuyenKhoa]) VALUES (2, N'Nhi khoa')
INSERT [dbo].[ChuyenKhoa] ([Id], [TenChuyenKhoa]) VALUES (3, N'Sản phụ khoa')
SET IDENTITY_INSERT [dbo].[ChuyenKhoa] OFF
GO
SET IDENTITY_INSERT [dbo].[HoiDap] ON 

INSERT [dbo].[HoiDap] ([Id], [TieuDe], [NoiDung], [Tuoi], [GioiTinh], [DuongDanAnh], [ChuyenKhoaId], [NguoiDungId], [NgayTao], [DaDuyet], [AnDanh]) VALUES (1, N'chân', N'gãy chân', 20, N'Nữ', N'/uploads/efeff50f-c555-4f1b-b4a2-05965b863d20.jpg', 4, NULL, CAST(N'2026-07-08T01:37:42.623' AS DateTime), 1, 1)
INSERT [dbo].[HoiDap] ([Id], [TieuDe], [NoiDung], [Tuoi], [GioiTinh], [DuongDanAnh], [ChuyenKhoaId], [NguoiDungId], [NgayTao], [DaDuyet], [AnDanh]) VALUES (2, N'gvygihub', N'tfutfvkugk', 30, N'Nam', N'/uploads/7acb704e-fb3c-4588-b270-b431d1b632a8.jpg', 2, NULL, CAST(N'2026-07-08T05:30:12.023' AS DateTime), 1, 1)
INSERT [dbo].[HoiDap] ([Id], [TieuDe], [NoiDung], [Tuoi], [GioiTinh], [DuongDanAnh], [ChuyenKhoaId], [NguoiDungId], [NgayTao], [DaDuyet], [AnDanh]) VALUES (3, N'rtyudfghjksedrtgyuji', N'xdfghjzsdfghjdxcfgh', 52, N'Nam', N'/uploads/8c5ef7e5-c36b-4133-9d19-2dbe5c358033.jpg', 4, NULL, CAST(N'2026-07-08T05:38:05.827' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[HoiDap] OFF
GO
SET IDENTITY_INSERT [dbo].[HoSoBacSi] ON 

INSERT [dbo].[HoSoBacSi] ([Id], [NguoiDungId], [ChuyenKhoaId], [KinhNghiem], [GioiThieu], [DuongDanChungChi], [TrangThaiXacThuc]) VALUES (1, N'DR_USER_001', 1, N'15 năm kinh nghiệm', N'Nguyên trưởng khoa nội tại bệnh viện đa khoa trung ương.', N'/images/doctors/d1.jpg', N'1')
INSERT [dbo].[HoSoBacSi] ([Id], [NguoiDungId], [ChuyenKhoaId], [KinhNghiem], [GioiThieu], [DuongDanChungChi], [TrangThaiXacThuc]) VALUES (2, N'DR_USER_002', 2, N'8 năm kinh nghiệm', N'Chuyên gia tư vấn dinh dưỡng và chăm sóc hô hấp trẻ nhỏ.', N'/uploads/certs/cc2.pdf', N'1')
INSERT [dbo].[HoSoBacSi] ([Id], [NguoiDungId], [ChuyenKhoaId], [KinhNghiem], [GioiThieu], [DuongDanChungChi], [TrangThaiXacThuc]) VALUES (3, N'DR_USER_003', 3, N'12 năm kinh nghiệm', N'Chuyên quản lý thai sản nguy cơ cao và tư vấn hiếm muộn.', N'/uploads/certs/cc3.pdf', N'1')
SET IDENTITY_INSERT [dbo].[HoSoBacSi] OFF
GO
INSERT [dbo].[NguoiDung] ([Id], [HoTen], [Email], [MatKhauHash], [SoDienThoai], [VaiTro], [TrangThai], [NgayTao], [AnhDaiDien]) VALUES (N'8ef73fb0-c6b1-425f-bffc-749e0ce0b3b0', N'Bùi Thị Thương ', N'thuong123@gmail.com', N'AQAAAAIAAYagAAAAENFG5bJCkGieKmI30S38nkeJaSNmeCox/zwksFmLfr5BVK3TXL/x6SZXFgnDbJDmWg==', N'0982813066', N'Customer', 1, CAST(N'2026-07-07T23:44:47.080' AS DateTime), N'/images/doctors/d1.jpg')
INSERT [dbo].[NguoiDung] ([Id], [HoTen], [Email], [MatKhauHash], [SoDienThoai], [VaiTro], [TrangThai], [NgayTao], [AnhDaiDien]) VALUES (N'cfea781f-938e-4b14-9615-0739e4277be7', N'Nguyễn Văn Thành ', N'thanh@gmail.com', N'AQAAAAIAAYagAAAAEExiDy5ZDSxpekSbyCWtPtcioJ5vjy6wAuWlD/vqeQKe3wu67Qi3rhG4sJxmTURIFQ==', N'0982813067', N'Doctor', 1, CAST(N'2026-07-10T03:15:34.007' AS DateTime), N'/images/default-avatar.png')
INSERT [dbo].[NguoiDung] ([Id], [HoTen], [Email], [MatKhauHash], [SoDienThoai], [VaiTro], [TrangThai], [NgayTao], [AnhDaiDien]) VALUES (N'DR_USER_001', N'BS. Hoàng Thị Xuân', N'xuan.hoang@docconect.com', N'AQAAAAEAACcQAAAAE...', N'0912345678', N'Doctor', 1, CAST(N'2026-07-08T02:43:53.423' AS DateTime), N'/images/doctors/d1.jpg')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534295786B8]    Script Date: 7/10/2026 7:08:33 AM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PhienTuV__F9299197D063CC2B]    Script Date: 7/10/2026 7:08:33 AM ******/
ALTER TABLE [dbo].[PhienTuVan] ADD UNIQUE NONCLUSTERED 
(
	[LichHenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoiDap] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoiDap] ADD  DEFAULT ((0)) FOR [DaDuyet]
GO
ALTER TABLE [dbo].[HoiDap] ADD  DEFAULT ((1)) FOR [AnDanh]
GO
ALTER TABLE [dbo].[HoSoBacSi] ADD  DEFAULT (N'Chờ duyệt') FOR [TrangThaiXacThuc]
GO
ALTER TABLE [dbo].[LichHen] ADD  DEFAULT (N'Chờ diễn ra') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhienTuVan] ADD  DEFAULT (N'Đang diễn ra') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoiDap]  WITH CHECK ADD  CONSTRAINT [FK_HoiDap_NguoiDung] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoiDap] CHECK CONSTRAINT [FK_HoiDap_NguoiDung]
GO
ALTER TABLE [dbo].[HoSoBacSi]  WITH CHECK ADD FOREIGN KEY([ChuyenKhoaId])
REFERENCES [dbo].[ChuyenKhoa] ([Id])
GO
ALTER TABLE [dbo].[HoSoBacSi]  WITH CHECK ADD FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[HoSoSucKhoe]  WITH CHECK ADD FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[HoSoSucKhoe]  WITH CHECK ADD FOREIGN KEY([PhienTuVanId])
REFERENCES [dbo].[PhienTuVan] ([Id])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([BacSiId])
REFERENCES [dbo].[HoSoBacSi] ([Id])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[PhienTuVan]  WITH CHECK ADD FOREIGN KEY([LichHenId])
REFERENCES [dbo].[LichHen] ([Id])
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD FOREIGN KEY([NguoiGuiId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD FOREIGN KEY([PhienTuVanId])
REFERENCES [dbo].[PhienTuVan] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[GetChiTietBacSi]    Script Date: 7/10/2026 7:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetChiTietBacSi]
    @BacSiId NVARCHAR(50) -- Nhận mã kiểu chuỗi (ví dụ: 'DR_USER_001')
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        h.NguoiDungId AS Id,
        n.HoTen,
        n.Email,
        ISNULL(n.SoDienThoai, '') AS SoDienThoai,
        ISNULL(n.AnhDaiDien, '/images/default-avatar.png') AS AnhDaiDien,
        c.TenChuyenKhoa,
        h.ChuyenKhoaId,
        ISNULL(h.KinhNghiem, N'Đang cập nhật kinh nghiệm khám chữa bệnh.') AS KinhNghiem,
        ISNULL(h.GioiThieu, N'Đang cập nhật thông tin giới thiệu.') AS GioiThieu
    FROM HoSoBacSi h
    INNER JOIN NguoiDung n ON h.NguoiDungId = n.Id
    INNER JOIN ChuyenKhoa c ON h.ChuyenKhoaId = c.Id
    WHERE n.VaiTro = 'Doctor' AND n.Id = @BacSiId; -- Khớp chính xác theo Id dạng chuỗi của bạn
END
GO
/****** Object:  StoredProcedure [dbo].[GetDanhSachBacSi]    Script Date: 7/10/2026 7:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Tạo thủ tục mới chống lỗi ép kiểu dữ liệu 'Hoạt động' sang bit
CREATE PROCEDURE [dbo].[GetDanhSachBacSi]
    @ChuyenKhoaId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        h.NguoiDungId AS Id,
        n.HoTen,
        n.Email,
        ISNULL(n.SoDienThoai, '') AS SoDienThoai,
        ISNULL(n.AnhDaiDien, '/images/default-avatar.png') AS AnhDaiDien,
        c.TenChuyenKhoa,
        h.ChuyenKhoaId,
        ISNULL(h.KinhNghiem, N'Đang cập nhật kinh nghiệm') AS KinhNghiem,
        ISNULL(h.GioiThieu, '') AS GioiThieu
    FROM HoSoBacSi h
    INNER JOIN NguoiDung n ON h.NguoiDungId = n.Id
    INNER JOIN ChuyenKhoa c ON h.ChuyenKhoaId = c.Id
    WHERE n.VaiTro = 'Doctor'
      -- Cách lọc thông minh: Chấp nhận cả kiểu bit (1), kiểu chuỗi ('true') hoặc chữ ('Hoạt động') mà không gây lỗi cast
      AND (
            n.TrangThai = '1' 
            OR n.TrangThai = 'true' 
            OR TRY_CAST(n.TrangThai AS NVARCHAR) = N'Hoạt động'
            OR n.TrangThai IS NULL -- Đề phòng dữ liệu rỗng
          )
      -- Lọc động theo chuyên khoa
      AND (@ChuyenKhoaId IS NULL OR @ChuyenKhoaId = 0 OR h.ChuyenKhoaId = @ChuyenKhoaId);
END
GO
/****** Object:  StoredProcedure [dbo].[GetTop5BacSi]    Script Date: 7/10/2026 7:08:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop5BacSi]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 5
        h.NguoiDungId AS Id,
        n.HoTen,
        n.Email,
        ISNULL(n.SoDienThoai, '') AS SoDienThoai,
        ISNULL(n.AnhDaiDien, '/images/default-avatar.png') AS AnhDaiDien,
        c.TenChuyenKhoa,
        h.ChuyenKhoaId,
        ISNULL(h.KinhNghiem, N'Đang cập nhật kinh nghiệm') AS KinhNghiem,
        ISNULL(h.GioiThieu, '') AS GioiThieu
    FROM HoSoBacSi h
    INNER JOIN NguoiDung n ON h.NguoiDungId = n.Id
    INNER JOIN ChuyenKhoa c ON h.ChuyenKhoaId = c.Id
    WHERE n.VaiTro = 'Doctor'
      -- SỬA TẠI ĐÂY: Vì TrangThai là kiểu BIT (bool), chỉ cần check = 1 (hoặc true)
      AND n.TrangThai = 1
    ORDER BY n.NgayTao DESC; 
END
GO
USE [master]
GO
